---
import '@/styles/global.css'
import 'vue-sonner/style.css'

import { PUBLIC_SITE_NAME, PUBLIC_METRIKA } from 'astro:env/server'
import { Toaster } from '@/components/ui/sonner'
import PageHeader from '@/components/PageHeader.astro'
import PageFooter from '../components/PageFooter.astro'
import { SEO } from 'astro-seo'

const { title, description } = Astro.props

const metrikaScript = `
 <!-- Yandex.Metrika counter --> <script type="text/javascript">     (function(m,e,t,r,i,k,a){         m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};         m[i].l=1*new Date();         for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}         k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)     })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106622925', 'ym');      ym(106622925, 'init', {ssr:true, trackHash:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true}); </script> <noscript><div><img src="https://mc.yandex.ru/watch/106622925" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->   
`;
---

<html lang="ru">
  <head>
    <SEO
      title={`${title} | ${PUBLIC_SITE_NAME}`}
      description={description}
    />
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.webmanifest" >
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=JetBrains+Mono:wght@400;500&family=Manrope:wght@400;600&display=swap" rel="stylesheet" >
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="сжатие видео, webcodecs, video compressor, vp8, av1, сжать видео онлайн" />
    <title>{`${title} | ${PUBLIC_SITE_NAME}`}</title>

    {PUBLIC_METRIKA && <Fragment set:html={metrikaScript} />}
  </head>
  <body class="flex flex-col min-h-dvh">
    <PageHeader />
    <main class="grow">
      <slot></slot>
    </main>
    <PageFooter />
    <Toaster client:only="vue" />
  </body>
</html>
